{% extends "base.html" %}

{% block title %}Home - REC TCG{% endblock %}

{% block content %}
    <h1>The REC TCG</h1>
    <h2>The Unofficial Trading Card Game for Florida's Revenue Estimating Conference</h2>
    <p>This game exists for satirical purposes only. It is a fun, heartfelt tribute to the best part of State Government. 
Please note that while the game is still in development, physical cards are not available. But, as it is still in development
we are very receptive to feedback. So make your feedback known and we will adjust accordingly!</p>

{% endblock %}